:root {
    --primary-color: rgb(68, 68, 82);
    --primary2-color: rgba(68, 68, 82, 0.719);
    --secondary-color: #644da7;
    --link-color: #ab1b73;
    /* Font family variables */
    --lato: 'Lato', sans-serif;
}

body {
    background: url(../img/background.jpg) no-repeat center center;
    background-size: cover;
    margin: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    font-size: 16px;
    font-family: var(--lato);
    line-height: 2;
    color: var(--primary-color);
    font-sie: 14px;
}

a {
    color: var(--link-color);
}

a:hover {
    color: var(--secondary-color);
    text-decoration: none;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.form-box {
    background: rgba(245, 245, 245, 0.801);
    margin-top: 10%;
    padding-top: 25%;
    padding: 0 2rem;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* image */

.form-box img {
    width: 150px;
}

.form-box .img-profile {
    margin: -5rem 0 1.5rem 0;
    background: whitesmoke;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}


/* form */

.form-box .heading {
    font: bold 1.3rem var(--lato);
    color: var(--primary2-color);
}

.form-group {
    margin: 0 0 1rem 0;
    position: relative;
    width: 100%;
    height: 60px;
    text-align: left;
    overflow: hidden;
}

.form-group label {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    border-bottom: 2px solid var(--link-color);
}

.form-group label::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 100%;
    width: 100%;
    border-bottom: 3px solid var(--secondary-color);
    transform: translateX(-100%);
    transition: transform .5s ease;
}

.content-name {
    position: absolute;
    bottom: 0px;
    left: 0;
    transition: all .3s ease;
}

.form-group input {
    background-color: transparent;
    width: 100%;
    height: 3rem;
    border-radius: .5rem;
    border: 0;
    padding-top: 30px;
    color: var(--primary-color);
    outline: none;
}

.form-group input:focus+.label-name .content-name,
.form-group input:not(:placeholder-shown)+.label-name .content-name {
    transform: translateY(-100%);
    font-size: .8rem;
    color: var(--secondary-color);
}

.form-group input:focus+.label-name::after,
.form-group input:not(:placeholder-shown)+.label-name::after {
    transform: translateX(0%);
    font-size: .8rem;
    color: var(--secondary-color);
}

/* button */

.btn-success {
    background: var(--link-color);
    border-radius: 0;
    width: 100%;
    border: none;
    margin: 1rem 0;
    padding: 1rem 1rem;
    font: bold 1rem var(--lato);
    color: rgba(245, 245, 245, 0.801);
    transition: all 1s ease-in-out;
}

.btn-success:hover {
    background: var(--secondary-color);
    border: none;
}

.forgot {
    padding: 0 0 1.5rem;
}

/* credit image */
.credit {
    margin: 0 2rem 0;
}

.credit p {
    font-size: 12px;
    color: rgba(245, 245, 245, 0.801);
}

.credit a {
    color: rgba(245, 245, 245, 0.801);
}